<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cfileMapper">
	<select id="selectOne" resultType="CfileDTO">
		select * from cfile where code = #{code}
	</select>
	<insert id="insert">
		insert into cfile (code, filename) 
		values (#{code}, #{filename}) 
	</insert>
	
	<update id="update">
		update cfile 
		set 
			filename = #{filename}
		where fnum = #{fnum}	
	
	</update>	
	
	<delete id="delete">
		delete from cfile where code = #{code}
	</delete>
	
	<!-- 수정시 일부 파일 삭제 -->
	<delete id="delete_part">
		delete from cfile
		where code = #{code}
		<if test="fnums !=''">
			and fnum not in (${fnum}) <!-- 34, 56 -->
		</if>
	</delete>
	

</mapper>